.avatarbox {
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.innerbox {
  margin-left: 20px;
}

.rounded-md {
  border-radius: 0.375rem;
}
